<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="edit.html#{{id}}" class=""><h4 style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden" >{{title}}</h4></a>
        </div>
        <div class="panel-body" style="padding: 0; overflow: hidden;">
            <div class="box">
                <div class="content" id="{{id}}"></div>
            </div>
        </div>
        <div class="panel-footer" style="margin: 0; padding: 0px ;">
            <p class="btn-group btn-group-justified" style="margin: 0; border-left: none ; border-bottom: none;">
                <a class="btn btn-default btn-warning actionbar" href="#" onclick="toogle_star(\'{{id}}\')"><i id="star{{id}}" class="fa fa-star" style="color: {{#star}} grey {{/star}} {{^star}} "white" {{/star}})"></i></a>
                <a class="btn btn-default btn-info actionbar" onclick="qrcode(\'{{id}}\')"
                href="#"><i class="fa fa-qrcode"></i></a>
                <a class="btn btn-primary btn-default actionbar" onclick="pop_change_dir_modal(\'{{id}}\')"
                href="#"><i class="fa fa-folder"></i></a>
                <a onclick="pop_confirmation_modal(\'{{id}}\')" class="btn btn-default btn-danger actionbar"><i class="fa fa-times"></i></a>
                <a class="btn btn-default btn-success actionbar" href="#"><i class="fa fa-plus"></i></a>
            </p>
        </div>
    </div>
</div>