<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="edit.html#{{id}}" class=""><h4 class="item_title">{{title}}</h4></a>
        </div>
        <div class="panel-body item_body">
            <div class="box">
                <div class="content" id="{{id}}"></div>
            </div>
        </div>
        <div class="panel-footer item_footer">
            <p class="btn-group btn-group-justified item_actionbar">
                <a class="btn btn-default btn-warning actionbar" href="#" onclick="toogle_star('{{id}}')"><i id="star{{id}}" class="fa fa-star" style="color: {{#star}} grey {{/star}} {{^star}} white {{/star}})"></i></a>
                <a class="btn btn-default btn-info actionbar" onclick="qrcode('{{id}}')"
                href="#"><i class="fa fa-qrcode"></i></a>
                <a class="btn btn-primary btn-default actionbar" onclick="pop_change_dir_modal('{{id}}')"
                href="#"><i class="fa fa-folder"></i></a>
                <a onclick="pop_confirmation_modal('{{id}}')" class="btn btn-default btn-danger actionbar"><i class="fa fa-times"></i></a>
                <a class="btn btn-default btn-success actionbar" href="#"><i class="fa fa-plus"></i></a>
            </p>
        </div>
    </div>
</div>