<form>{{#values}}
    <div class='input-group checklist_item'>
        <span class='input-group-addon'>
            <input class='checkbox_checklist' type='checkbox' {{#done}} checked {{/done}}>
        </span>
        <input type='text' class='form-control checkbox_checklist' value='{{value}}'>
        <span class='input-group-btn'>
            <button class='btn btn-default' type='button'>
                <i class='fa fa-times'></i>
            </button>
        </span>
    </div>{{/values}}
</form>